<footer class="page__footer">
  <div class="section__content">
    <h2 class="footer__header">
      Get in touch, say hello
      <br />
      <strong> <%= data.site.author[:email] %> </strong>
    </h2>
    <ul class="grid grid--no-gutter footer__social-media">
      <% data.site.social_media.each do |network| %>
        <li class="grid__col grid__col--1-of-<%= data.site.social_media.length %>">
          <%= link_to network[:title], network[:url], target: "_blank" %>
        </li>
      <% end %>
    </ul>
  </div>
</footer>
