<section class="section__work" id="portfolio">
  <div class="section__content">
    <h2 class="section__header"><%= data.portfolio.header %></h2>
    <ul class="work__posts grid">
    <% data.portfolio.works.first(data.portfolio.number_of_works_on_homepage).each do |work| %>
      <li class="grid__col grid__col--1-of-3">
        <figure class="work__post">
            <%= image_tag work[:image_url] %>
          <figcaption><%= work[:title] %></figcaption>
        </figure>
      </li>
    <% end %>
    </ul>
  </div>
</section>
