<header class="page__navigation">

  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--1-of-2 grid__col--am">
      <h1 class="menu__brand">
        <%= link_to 'vb', 'index.html' %>
       </h1>
    </div>

    <nav class="grid__col grid__col--1-of-2 grid__col--am text__right">
      <button class="menu__toggle" name="toggle-menu">Menu</button>
      <ul class="menu__links">
        <% data.site.navigation.each do |link| %>
        <li><%= link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  
</header>
