<div class="navigation">
  <h1>vb</h1>

  <button name="toggle-menu">Menu</button>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Blog</li>
    <li>Projects</li>
    <li>Portfolio</li>
  </ul>
  
</div>
