---
---

// libraries
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon'

$column: 90px
$gutter: 30px
$grid-columns: 10
$max-width: 1200px

@import 'bower_components/neat/app/assets/stylesheets/neat'
@import 'vendor/normalize'
@import 'base/base'

// layout
.page-wrap
  +outer-container
  background-color: #eee

// code highlighting
@import syntax
