%animated {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#toc {
	background-color: #fafafa;
	padding-top: 60px;
	position: fixed;
	overflow-y: auto;
	height: 100%;
	left: 0;
	top: 0;
	
	.side-nav {
		padding-top: 0;
	}

	li {
		list-style: none;
		ul {
			margin-left: 0;
			padding-left: 2em;
			li {
				list-style: disc;
				ul {
					padding-left: 1em;
				}
				li {
					list-style: circle;
				}
			}
			a {
				font-size: 0.9em; 
				padding-left: 0 !important; 
				padding-top:0.3em !important; 
				padding-bottom:0.3em !important;
			}
		}
	}
	
	h5 {
		padding-left: 0.875rem;
	}
}

.toc-hide {
	display: none !important;
}

.content {
	h1,h2,h3,h4,h5,h6 {
		margin-top: 1em;
		border-top: 1px solid #DDD;
		padding-top: 1em;
		font-weight: 700;
	}
	
	$hash-color: rgba(#333, 0.5);
	h1:before {content:"# "; color: $hash-color;}
	h2:before {content:"## "; color: $hash-color;}
	h3:before {content:"### "; color: $hash-color;}
	h4:before {content:"#### "; color: $hash-color;}
	
	table {
		width: 100%;
	}
	
	ul {
		margin-left: 0.5rem;
	}
	
	li {
		list-style: none;
		&:before { content:"-"; position:relative; left:-5px; }
	}
}

pre {
	margin-bottom: 1em;

	code {
		display: block;
		padding: 1em;
		background: #FAFAFA;
		color: #333;	
	}
}

.page-title {
	margin-top: 20px;
}

.row {
	max-width: 80rem;
}

.clickable-header {
  cursor:pointer;
  &:hover {
	text-decoration:underline;	  
  }
}

.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
  font-style: normal;
}