.page__footer
  background-color: rgba($dark, 0.2)
  color: $dark
  font-size: 1.3em
  margin-bottom: $gutter
  text-align: center

.footer__header
  word-break: break-all
  font-weight: 400
  padding-bottom: 2em
  margin: 0

.footer__social-media
  margin: 0
  padding: 0
  color: $dark

  a
    +link_underlined($accent, $dark)
    font-weight: bold
