.page__wrap, .page__navigation, .page__footer
  max-width: $max-width
  margin: 0 auto

.page__body
  line-height: 1.5
  min-height: 100vh
  font-family: $copy
  +linear-gradient($green, $yellow)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.page__navigation
  +breakpoint(l)
    padding: 0 $gutter
  +breakpoint(m)
    padding: 0 $gutter * 0.5
  +breakpoint(s)
    padding: 0 $gutter * 0.3
