h1, h2, h3, h4, h5, h6
  margin-top: 0


.text
  &__large
    font-size: 2.2rem

  &__medium
    font-size: 1.4rem

  &__light
    font-weight: 300

  &__bold
    font-weight: 800

  &__left
    text-align: left

  &__center
    text-align: center

  &__right
    text-align: right
