---
---

// libraries
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon'

$column: 90px
$gutter: 30px
$grid-columns: 10
$max-width: 800px

@import 'bower_components/neat/app/assets/stylesheets/neat'
@import 'vendor/normalize'
@import 'base/base'



@import 'http://fonts.googleapis.com/css?family=Radley:400,400italic'
@import 'http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'


// Variables
$base-border-radius: 3px
$base-line-height: 1.5em
$base-spacing: 1.5em
$action-color: #477DCA
$dark-gray: #333
$light-gray: #DDD
$medium-screen: em(640)
$base-font-color: $dark-gray
$sans-serif: 'Noto Sans', sans-serif
$serif: 'Radley', serif


// layout
.page-wrap
  +outer-container(1000px)

@import 'page.post'

// code highlighting
@import 'syntax'
