<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="page-note">
        
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/" title="Home">{{ site.title }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="/about">About</a></li>
          <li><a href="/notes">Notes</a></li>
        </ul>
        
      </section>
      
    </nav>

    <div class="row">
      <div class="hide-for-small medium-4 large-3 columns toc">
        Nothing to Show
      </div>
      <div class="small-12 medium-8 large-8 columns">
        <h1 class="page-title">{{ page.title }}</h1>
        <hr>
        <div class="content large-centered">
          {{ content }}
        </div>
      </div>
    </div>
    

  </body>
  <script src="/public/js/jquery-2.1.1.min.js"></script>
  <script src="/public/js/toc.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('.toc').toc({ showEffect: 'slideDown' });
    });
  </script>
  
  {% include analytics.html %}
</html>
