---
title: About Vadim
---

<section class="section__masthead grid grid--no-gutter">
  <div class="grid__col grid__col--2-of-2">
      <%= image_tag 'vadim-wall-portrait.jpg', class: 'media__full' %>
  </div>
  <div class="grid__col grid__col--1-of-2 grid__col--centered">
    <div class="section__content">
    <p class="text__medium text__large">
    I create things on the web; I design and I build. I am passionate about the enabling power of technology and the human sensitivities of design.
    </p>
    </div>
  </div>
</section>


<section class="section__bio grid grid--no-gutter">
  <div class="grid__col grid__col--1-of-2 grid__col--centered">
    <div class="section__content">
      <h2 class="section__header">My Journey</h2>
      <p>
      Part of who we are is driven by our experiences. I am lucky that in my life I was able to live in different countries, to experience different cultures and see different perspectives. I was born in Ukraine, grew up in Israel, then lived in Winnipeg and finally settled in Kitchener-Waterloo. I think this journey thought me empathy and adaptability, to find the positive in every situation and to a positive outlook on life.
      </p>
    </div>
  </div>
  <div class="grid__col grid__col--2-of-2">
    <%= image_tag 'journey-map.jpg', class: 'media__full' %>
  </div>
</section>


<section class="section__history grid grid--no-gutter">
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Love of Design</h2>
      <p> Ever since my earlier childhood I loved to draw. I remember being fascinated by the emblems of different cars, they seemed so cool. With drawing I became interested in animation and specifically 3D animation.  </p>

      <p> To pursue a career in animation I was admitted to the University of Manitoba Fine Arts program, winning the Queen Elizabeth II entrance scholarship. In art school I enjoyed painting, new media and especially graphic design.  </p>

      <p> Graphic design has completely hijacked my plans, I just loved it. The challenge of solving a real communication problems using all of the <a href="https://en.wikipedia.org/wiki/Gestalt_psychology">Gestalt </a>design principles, leveraging typography added purpose to the act of creation. I guess there is a reason why I was interested in car emblems after all.  </p>

      <p> After graduating from university, I’ve stared designing for a living – first for Nygård International. Immersing myself into the world of retail fashion marketing and corporate communications. Then shifting my focus on magazine and publication design for Craig Kelman &amp; Associates.  </p>

      <p> Then after moving to Kitchener-Waterloo, my dream came true. I became part of a new and growing design and marketing agency, Crankworks Creative. Everyday at Crankworks I faced a new challenge that pushed me further as a creative and as professional. I was fortunate to work on very large projects with real impact. Eventually my role became focused on the web, where I spend most of my time designing and building for the web. </p>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="section__content">
      <h2 class="section__header">Passion for Computing</h2>
      <p>My first experience with programming was taking a <a href="https://en.wikipedia.org/wiki/QBasic">QBasic </a>class at the age of 11, I remember writing writing the source code of simple programs into a notebook so I can them out at my friend's <a href="https://en.wikipedia.org/wiki/Intel_80486">486</a>. My most vivid memory was this fractal program that was generating repeating line drawings. Later came the revelation of HTML where me and a group of friends were learning to create table-based websites with inline styles.</p>

      <p>In high-school the real programming started, I was learning Computer Science in <a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>, Logical programming in <a href="https://en.wikipedia.org/wiki/Prolog">Prolog </a> and web programming in HTML <a href="https://en.wikipedia.org/wiki/VBScript">VBScript </a> and <a href="https://en.wikipedia.org/wiki/Active_Server_Pages">ASP</a>.</p>

      <p>Later as part of my studies at the University of Manitoba I’ve learned Flash and ActionScript and Java as part of the Computer Science classes. After I graduated as Graphic Designed I decided to double down on web development, learning HTML5, CSS3 and jQuery. Since then my Kindle library is constantly growing with technical books.</p>

      <p>Fast forwarding to the recent past, I continue to learn on my own, diving into the server side programming with Ruby and Rails and Taking my JavaScript knowledge to the next level. With each additional skill or technology I feel more empowered and capable to create richer and experiences and more holistic products.</p>

      <p>Today I am fascinated by the crop of new functional programming languages, especially <a href="http://elm-lang.org/">Elm</a>, <a href="http://elixir-lang.org/">Elixir </a> and <a href="http://clojure.org">Clojure </a>peak my interest.</p>
    </div>
  </div>
</section>
