---
layout: default
---


<div class="posts__index">
  {% for post in paginator.posts %}
  <section class="posts__index__section">
    <a href="{{ post.url }}" class="posts__index__link">
      <span class="posts__index__collection">
        {{ post.collection | }}
      </span>
      <h3 class="posts__index__title">
        {{ post.title }}
      </h3>
      {% if post.subhead %}
      <h4 class="posts__index__subhead">
        {{ post.subhead }}
      </h4>
      {% endif %}
      <span class="posts__index__date">
        {{ post.date | date_to_string }}
      </span>
    </a>
  </section>
  {% endfor %}
</div>

{% include pagination.html %}
