$max-width: 1100px
$gutter: 40px

$small: 480px
$medium: 700px
$large: $max-width

$toast-grid-namespace: "grid"
$toast-grid-column-namespace: "grid__col"
$toast-col-groups: (2, 3, 4, 5, 6, 8, 12)
$toast-gutter-width: $gutter

// Breakpoints
$toast-breakpoint-medium: $medium
$toast-breakpoint-small: $small
